<ion-header>
  <ion-toolbar>
    <ion-title>CV Associatif</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="onLoadAsso('Larsen','https://assos.utc.fr/images/assos/6ee441e0-3af5-11e9-8dff-e5e50ffcec62/1551316141.png', 'Vice-présidence A19 et P20, Présidence en A20')">
    <ion-icon name="play-circle-outline"></ion-icon>
    <ion-label>Larsen</ion-label>
  </ion-button>

  <ion-button expand="full" (click)="onLoadAsso('Festupic','https://assos.utc.fr/festupic/Images/masque_blanc.png', 'Team Troupe et Sponso en A18/P19')">
    <ion-icon name="receipt-outline"></ion-icon>
    <ion-label>Festupic</ion-label>
  </ion-button>

  <ion-button expand="full" (click)="onLoadAsso('Nuit Avant le Semestre d Après','https://assos.utc.fr/images/assos/2ba16060-fa6b-11e9-8018-176280b18916/1572367381.jpg', 'Resp Anim en A19')">
    <ion-icon name="beer-outline"></ion-icon>
    <ion-label>NASA</ion-label>
  </ion-button>

  <ion-button expand="full" (click)="onLoadAsso('Comet','https://assos.utc.fr/images/assos/6e739c40-3af5-11e9-b911-035cfe58e160/1559480492.jpeg', 'Team Anim en A19, Président en P20')">
    <ion-icon name="beer-outline"></ion-icon>
    <ion-label>Comet</ion-label>
  </ion-button>

  <ion-button expand="full" (click)="onLoadAsso('Etuville','https://assos.utc.fr/images/assos/6f6c4ae0-3af5-11e9-bf0b-9bbee657c4b0/1551316142.png', 'Resp Concert en P20/A20')">
    <ion-icon name="beer-outline"></ion-icon>
    <ion-label>Etuville</ion-label>
  </ion-button>

  <ion-button expand="full" (click)="onLoadAsso('SkiUT','https://assos.utc.fr/images/assos/7038c320-3af5-11e9-96fb-59dd591dee32/1551316143.png', 'Vice-Trésorier en P20/A20')">
    <ion-icon name="snow-outline"></ion-icon>
    <ion-label>Ski'UT</ion-label>
  </ion-button>

  <ion-button expand="full" (click)="onLoadAsso('Light Up City','https://assos.utc.fr/images/assos/77065500-3af5-11e9-86f1-3b537cf9c27f/1551316155.png', 'Team Parkour en P20')">
    <ion-icon name="bulb"></ion-icon>
    <ion-label>Light Up City</ion-label>
  </ion-button>
</ion-content>
