<ion-header>
  <ion-toolbar>
    <ion-title>Augustin de Laubier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img style="width: 150px; height: 200px; margin-left: 55%;" src="https://i.ibb.co/XJkRWNJ/profil.jpg" ></ion-img>
  <ion-text style="font-family: 'Gill Sans'">
    <h1 style="margin-left: 10px;"> Language connus</h1>
    <ul>
      <li> Pascal (Zuuupeeer)</li>
      <li> C et C++ (Vive LO21/SR01 youhou)</li>
      <li> Angular et Ionic (HTML / CSS / SCSS / JS et TS)</li>
      <li> Java </li>
      <li> PHP / MySQL</li>
    </ul>

    <h2 style="margin-left: 10px;"> Compétences</h2>
    <p> Animation  :</p>
    <ion-progress-bar value="0.80"></ion-progress-bar>
    <p> Informatique :</p>
    <ion-progress-bar value="0.75"></ion-progress-bar>
    <p> Vaisselle :</p>
    <ion-progress-bar value="0.95"></ion-progress-bar>
    <p> Communication : </p>
    <ion-progress-bar value="0" buffer="0.10"></ion-progress-bar>

  </ion-text>
</ion-content>
