<ion-header>
  <ion-toolbar>
    <ion-title>Lettre de Motivation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://assos.utc.fr/images/assos/7193cc80-3af5-11e9-9341-9f1e597da5c3/1559761873.png"/>
    <ion-card-header>
      <ion-card-title>Responsable - Team Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Etant en second semestre de Génie Informatique, et étant vraiment intéressé d'en apprendre plus à la fois en informatique
      et sur le Pic'Asso, je souhaite engranger de la pratique et mettre à contribution ma motivation pour apprendre et
      maintenir les différents interfaces et système du foyer. <br/>
      Avec Maxime Vaillant, nous sommes également intéressé d'apporter au pic une solution permettant à posteriori aux étudiants
      de pouvoir commander leur consommation sand à attendre devant le bar, ce qui peut poser des problèmes au niveau des
      règles sanitaires.
      Je suis donc partant pour postuler en tant que co-responsable ou membre de team informatique.
    </ion-card-content>
  </ion-card>
</ion-content>
